strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  font-family: "Noticia Text";
  font-size: 22px;
  line-height: 1.25;
}

#header-wrap {
  flex: 1;
}

#photo {
  background: url(turing.png);
  background-size: cover;
  background-position: -35px 0;
  flex: 0 25%;
  flex-direction: row;
}

header {
  font-family: Mirza;
  background-color: hsla(282, 100%, 82%, 1);
  text-align: center;
  width: 100%;
  line-height: 0.9;
  padding: 30px;
}

header h1 {
  font-size: 100px;
  padding: 0;
}

header h2 {
  font-family: "Average Sans";
  font-size: 25px;
  padding: 0;
}

section {
  padding: 20px;
  width: 100%;
}

.half-width {
  flex: 1 50%;
}

#machine, #science-impact, #how {
  display: flex;
  align-items: center;
}

#bio {
  background-color: hsla(282, 100%, 77%, 1);
  font-size: 30px;
  flex: 1 10%;
}

#machine {
  background-color: hsla(115, 63%, 77%, 1);
}

#machine-picture {
  background-color: hsla(115, 63%, 70%, 1);
}

#machine-picture img {
  width: 100%;
  height: 100%;
}

#how {
  background-color: hsla(115, 63%, 84%, 1);

}

#state-card {
  background-color: hsla(115, 63%, 80%, 1);
  display: flex;
  padding: 5px;
  font-size: 11px;
  font-family: "Ubuntu Mono";
  line-height: 1.7;
}

#state-card .card {
  background-color: hsla(115, 63%, 70%, 1);
  margin: 5px;
  padding: 5px;
  flex: 1;
}

#state-card .card > p {
  font-size: 12px;
  font-weight: 600;
  margin-top: 14px;
}

#state-card .cond {
  margin-left: 5px;
}

#science-impact {
  background-color: hsl(42, 100%, 77%);
}

#citations {
  text-align: center;
  background-color: hsla(42, 100%, 70%, 1);
}

#citations em {
  font-size: 19px;
}

#citations strong {
  font-size: 60px;
}

#turing-paper {
  background: url(turing-paper.jpg);
  background-size: cover;
  background-position: 0 -536px;
  height: 74px;;
}

#citations-graph {
  background-color: hsla(42, 100%, 82%, 1);
}

#citations-graph .vis-timeline {
  margin: 0;
  border: 0;
}

#citations-graph .vis-grid.vis-major,
#citations-graph .vis-grid.vis-major {
  border-color: white;
}

#credits {
  background-color: hsla(282, 100%, 77%, 1);
}

h3 {
  font-size: 24px;;
  font-weight: 700;
}
